:root {

    --rosa: #FAB4C8;
    --amarillo: #FAF0A0;
    --azul: #0A3C82;
}


#logo-contacto {
    margin-top: 16px;
    height: 160px;
    width: 160px;
}

#contact-header {
    font-weight: 900;
    font-size: 52px;
}

#info-container {
    padding: 3rem 2rem;
}

#info-header {
    font-weight: 700;
}

#info-description {
    padding-top: 1rem;
}
#form-container {
    border-left: 2px solid var(--azul);
    padding: 3rem 2rem;
}

label {
    font-weight: 700;
}
.alerta-error{
    width: 100%;
    padding: 1rem;
    font-size: 16px;
    font-weight: 700;
    border-radius: 58px;
}

.btn-contacto {
    text-decoration: none;
    border-radius: 58px;
    border: none;
    padding: 0.5rem 2rem;
    width: auto;
    background-color: var(--azul);
    color: white;
    font-weight: 700;
}

@media only screen and (max-width: 768px) {

    /* Agrega aquí tus estilos para tabletas */
    #info-container {
        padding: 1rem 2rem;
    }
    #form-container {
        border-left: none;
        width: 90%;
        padding: 1rem 2rem;
    }

}

@media only screen and (max-width: 480px) {

    /* Agrega aquí tus estilos para teléfonos móviles */
    #form-container {
        border-left: none;
        width: 90%;
    }
}