:root {

    --rosa: #FAB4C8;
    --amarillo: #FAF0A0;
    --azul: #0A3C82;
}

.titulo-admin {
    color: var(--rosa);
    font-weight: 700;
}

.largo-div {
    width: 300px;
}

.border-input {
    border: var(--azul) solid 1px;
}

.label-local {
    width: 30%;
}

.input-contacto {
    border: var(--azul) solid 1px;
    height: 40px;
    width: 300px;

}

.form-container-local {
    width: 85%;
    margin: 0 auto;

}


.largo {
    width: 200px;

}

.options {
    justify-content: center;
}

.mensaje-alerta p {
    padding: 1rem;
    border-radius: 20px;
    font-weight: 700;
}

/* Estilos para tabletas */
@media only screen and (max-width: 768px) {

    /* Agrega aquí tus estilos para tabletas */


}

/* Estilos para teléfonos móviles */
@media only screen and (max-width: 480px) {
    /* Agrega aquí tus estilos para teléfonos móviles */
}