:root {

    --rosa: #FAB4C8;
    --amarillo: #FAF0A0;
    --azul: #0A3C82;
}

.titulo-admin {
    color: var(--rosa);
    font-weight: 700;
}

.largo-div {
    width: 300px;
}





.form-product label {
    color: var(--azul);
    font-weight: 700;
    width: 300px;
}

.form-product input,
.form-product textarea,
.border-input,
#input-buscar {
    border: var(--azul) solid 1px;
}

.id-hidden {
    display: none;
}


.largo {
    width: 200px;
    padding: 8px 16px;
}

/* .largo-div {
    justify-content: center;
} */

.options {
    justify-content: center;
}


.mensaje-alerta p,
.alerta-find p {
    padding: 1rem;
    border-radius: 20px;
    font-weight: 700;
}

#btn-update {
    display: none;
}

#btn-delete-product {
    display: none;
}


/* Estilos para tabletas */
@media only screen and (max-width: 768px) {

    /* Agrega aquí tus estilos para tabletas */


}

/* Estilos para teléfonos móviles */
@media only screen and (max-width: 480px) {
    /* Agrega aquí tus estilos para teléfonos móviles */
}