@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');
@import url("nosotros.css");
@import url("formProducto.css");

:root {

    --rosa: #FAB4C8;
    --amarillo: #FAF0A0;
    --azul: #0A3C82;
}

* {
    font-family: 'raleway';
    font-weight: 400;
}

.navegacion {
    background-color: var(--azul);
    color: white;

}


.nav-item {
    margin: 8px 8px 0px 8px;
    padding-left: 8px;
}

.nav-item .active {
    background-color: var(--rosa);
    border-radius: 10px;
    color: var(--azul) !important;

}

.nav-link {
    padding: 8px;
    font-weight: 700;
}


.color-texto {
    color: var(--rosa);
}

.color-texto:hover {
    background-color: var(--rosa);
    border-radius: 10px;
    color: var(--azul);
}

.colectivo {
    font-family: "raleway", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    margin-left: 10px;

}

.color-texto-logo {
    display: flex;
    font-family: raleway;
    font-weight: 600;
    text-decoration: none;
    color: var(--rosa);
    margin: 8px 0px 8px 32px;
}

.color-texto-logo:hover {
    text-decoration: none;
    color: var(--rosa);
}

.linea-footer {
    margin: 1rem auto 0 auto;
    border-top: 1px solid var(--azul);
    width: 90%;
    border-bottom: 1px solid var(--azul);
}

#footer-title {
    margin-top: 16px;
    font-variant-caps: all-small-caps;
    font-size: 40px;
}

#footer-button {
    width: 50%;
    background-color: var(--rosa);
    color: var(--azul);
    border-radius: 45px;
    margin-top: 16px;
    padding: 8px;
    font-size: 16px;
    font-style: bold;
    font-weight: 700;
    border: none;

}

.footer-conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.enlaces {
    width: 100%;
}

.enlaces-local {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.enlace-local {
    text-decoration: none;
    color: var(--azul);

}

.icon-local {
    width: 4%;
}

.iconos-local {
    display: flex;
    justify-content: left;
    align-items: center;
}

.navbar-toggler-icon {
    color: var(--rosa) !important;
}

.navbar .navbar-toggler:focus {
    color: var(--rosa);

}

.border-radius-local {
    border-radius: 58px;

}

.no-borde {
    border: none;
}

.btn-local {
    text-decoration: none;
    border-radius: 58px;
    border: none;
    padding: 10px;
    width: 80%;
}

.btn-view-local {
    background-color: var(--azul);
    color: white;
    font-weight: 700;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.234);
}

.btn-view-local:hover {
    background-color: var(--rosa);
    color: var(--azul);
    font-weight: 700;
    box-shadow: none;
}

.btn-warning-local {
    background-color: var(--amarillo);
    color: var(--azul);
    font-weight: 700;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.234);

}

.btn-warning-local:hover {
    background-color: var(--rosa);
    color: var(--azul);
    font-weight: 700;
    box-shadow: none;

}

.carousel-local {
    width: 100%;

}

.carousel-local img {

    height: 700px;
}

.index-texto-welcome {
    margin: 3rem 1rem;
    text-align: center;
}

.img-index-welcome {
    margin: 3rem 1rem;
    border-radius: 32px;
    width: 70%;
    transition: transform 0.6s ease;
}

.index-text-welcome2-mobile {
    margin: 1rem 3rem;
    text-align: center;
    display: none;
}

.img-index-welcome:hover {
    transform: scale(1.05);
    box-shadow: 2px 2px 5px 0px var(--rosa);
}


.img-foot {
    width: 90%;
    height: 240px;
    margin: 2rem 0rem;
    border-radius: 58px;
    transition: transform 0.6s ease;
}

.img-foot:hover {
    transform: scale(1.05);
    box-shadow: 2px 2px 5px 0px var(--amarillo);
}

/* Estilos para dispositivos de escritorio */

/* Estilos para tabletas */
@media only screen and (max-width: 768px) {

    /* Agrega aquí tus estilos para tabletas */
    .icon-local {
        width: 20px;
    }

    .carousel-local img {
        height: 500px;
    }

    .img-foot {
        width: 600px;
        height: 200px;
        border-radius: 20px;
        transition: transform 0.6s ease;
    }

}

/* Estilos para teléfonos móviles */
@media only screen and (max-width: 480px) {

    /* Agrega aquí tus estilos para teléfonos móviles */
    .carousel-local img {
        height: 300px;
    }

    .index-text-welcome2 {
        display: none;
    }

    .index-text-welcome2-mobile {
        display: inline;
    }

    .img-foot {
        width: 90%;
        height: 100px;
        border-radius: 20px;
        margin: 0.5rem 0;
        transition: transform 0.6s ease;
    }
}