:root {

    --rosa: #FAB4C8;
    --amarillo: #FAF0A0;
    --azul: #0A3C82;
}


.img-round-local {
    
    padding: 16px 16px;
    width: 180px;
    height: 180px;
}

.card-local {
    background-color: var(--azul);
    width: 350px;
    height: 455px;
    color: white;
}

.card-local:hover{
    background-color: var(--rosa);
    color: var(--azul);
}




/*.card-col {
    width: 300px;
    padding-right: 32px;
}
*/