:root {
    --rosa: #FAB4C8;
    --amarillo: #FAF0A0;
    --azul: #0A3C82;
}

.product-header {
    font-weight: 700;
    color: var(--azul);
}

.filter {
    cursor: pointer;
    color: var(--azul);
    margin-right: 1rem;
    font-weight: 700;
}

.card-product {
    width: 100%;
    height: auto;
    border: 1px solid var(--rosa);
    border-radius: 32px;
    box-shadow: 2px 2px 2px rgba(203, 203, 203, 0.468);
    margin-top: 2rem;
}



.card-product:hover {    
    box-shadow: 2px 2px 2px var(--rosa);
}

.card-img-top {
    
    border-radius: 32px 32px 0px 0px;
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-product-body {
    padding: 16px;
}

.card-product-title {
    font-size: large;
    font-weight: 900;
    color: var(--azul);

}

.card-product-description {
    font-size: 12px;
    font-weight: 200;
    overflow: hidden;
    text-align: justify;
    padding: 8px 8px 0px 8px;
    border-top: 1px solid var(--rosa);
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
            line-clamp: 3; 
    -webkit-box-orient: vertical;
}

.card-product-price {
    pointer-events: none;
    font-size: large;
    color: var(--azul);    
    font-weight: 700;
}

.card-currency {
    font-size: 12px;
    font-weight: 700;
}

.card-sign {
    font-size: 10px;
    font-weight: 700;
}


.card-add-cart {
    float:inline-end;
    margin-top: 10px;
    margin-bottom: 4px;
    color: var(--azul);
    cursor: pointer;
}

.list-page {
    margin-top: 2rem;
    padding: 1rem;
    text-align: center;
    list-style: none;
}

.list-page li {
    font-size: large;
    font-weight: 900;
    display: inline-block;
    color: var(--azul);
    cursor: pointer;
    padding: 0px 8px;
    margin: 0px 4px;
}

.list-page .active {
    background-color: var(--rosa);
    border-radius: 4px;
}


.modal {
    margin: 1rem 0rem;
}
.modal-header {
    border: none;
}
.modal-body {
    padding: 32px;
}

.modal-img {
    width: 80%;
    height: auto;
}

.modal-title {
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 900;
    color: var(--azul);
}
.modal-description{
    margin-bottom: 8px;
    padding: 8px 0px;
    font-weight: 400;
    text-align: justify;
    border-top: 1px solid var(--rosa);
    border-bottom: 1px solid var(--rosa);
}
.modal-price {
    font-size: 24px;
    font-weight: 900;
    color: var(--azul);
    pointer-events: none;
}

.modal-currency {
    font-size: 10px;
    font-weight: 700;
}
.modal-sign {
    font-size: 12px;
    font-weight: 700;
}
.modal-add-cart {
    float: inline-end;
    margin-top: 1rem;
    color: var(--azul);
    cursor: pointer;
}


@media only screen and (max-width: 1400px) {
    .card-product-div {
        display: -webkit-box;
        -webkit-line-clamp: 1; /* number of lines to show */
                line-clamp: 1; 
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .card-product {
        width: 100%;
        height: auto;
        
    }


}

@media only screen and (max-width: 768px) {

    .card-product {
        width: 100%;
        height: auto;
        
    }


}

@media only screen and (max-width: 480px) {

    .product-header {
        font-size: 32px;
        font-weight: 700;
    }
    .card-product {
        width: 100%;
        height: 400px;
        cursor: pointer;
    }

    .card-product {
        width: 180px;
        height: auto;
        border: 1px solid var(--rosa);
        border-radius: 32px;
        box-shadow: 2px 2px 2px rgba(203, 203, 203, 0.468);
        margin-top: 2rem;
    }

    .card-product-title,  .card-product-description {
        display: none;
    
    }

    .card-product-price {
        font-size: 16px;
    }



}